Version 1
[x] It should have a place to store todos
[x] It should have a way to display todos
[x] It should have a way to add a todo
[x] It should have a way to edit a todo
[x] It should have a way to remove a todo

Version 2
[x] It should have a function to add a todo
    - get new todo
    - get new todo text
    - create new li
    - append new li into todo list
    - delete and check icons should also be created
[] It should have a function to edit a todo
    - edit on double click rather than button
[x] It should have a function to remove a todo
[x] It should tell the user the local date and time

Version 3
[] It should tell the user the local date and time in day, date, month, year format (without time!)
[] It should show the delete button on hover
[] It should trigger linethrough styling when the checkbox is clicked
[] It should add todo on hitting enter key
[] It should have a counter of how many tasks there are on the list

Version 4
[] It should have filters to select todos that are completed, active or all of them

