@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.col-12 .row {
  padding: 0;
  margin: 0;
}

::selection{
  color: #ffff;
  background: #457b9d;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #a8dadc 0%, #a8dadc 50%, #fff 50%, #fff 100%);
  padding: 4rem;
}

.todo-app-container {
  background-color: #f1faee;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 8px #1d3557;
  border: solid .5px #1d3557;
  border-radius: 3px;
}

/* Header */

#todo-header  {
  background-color: #e63946;
  color: #fff;
  padding: .5rem;
  border: solid .5px #1d3557;
}

/* Task counter */

#task-number {
  display: inline;
}

/* Filter todos menu */

#filters li {
  display: inline;
  list-style: none;
  color: #f1faee;
  margin-right: 1rem;
  text-decoration: none;
}

#filters a {
  color: #f1faee;
  text-decoration: none;
}

#filters a:hover {
  color: #a8dadc;
  text-decoration: underline;
}

/* New todo input */

.input-todo {
  display: inline;
  text-align: center;
  padding-top: .5rem;
}

.new-todo {
  width: 70%;
  height: 45px;
  margin: auto;
  border: 1px solid #1d3557;
  border-radius: 3px;
  padding: 0 15px;
  color: #1d3557;
}

::placeholder {
  color: #457b9d;
  opacity: .5;
}

/* Add todo button */

#add-button {
  margin: auto;
  font-size: 200%;
  color:#457b9d;
} 

#add-button:hover {
  color:#2196F3;
}

/* Todo list item */

#todo-list li {
  width: 70%;
  padding: 0 15px;
  height: 3rem;
  margin: auto;
  text-align: start;
  line-height: 45px;
  margin-bottom: 8px;
  border-radius: 3px;
  position: relative;
  list-style: none;
  background: #a8dadc;
  color: #1d3557;
  border: 1px solid #1d3557;
}

#todo-list li:hover {
  background-color: #98c0c2;
}

/* Check button */

.check-button {
  font-size: 200%;
}

/* Delete button */

.fa-times {
  right: 1rem;
  position: absolute;
  margin: auto;
  font-size: 200%;
  color:#fff;
  padding-top: .5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.fa-times:hover {
  color: #e63946;
}

/* Footer */

.app-info {
  text-align: center;
  color: #1d3557;
  padding-top: 1rem;
  width: 100%;
  font-size: 120%;
  display: block;
  margin: auto;
}

#back-to-top {
  color: #1d3557;
  text-decoration: none;
  padding-bottom: 1rem;
  font-size: 1rem;
}

#back-to-top:hover {
  color: #2196F3;
  text-decoration: underline;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #457b9d;;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #457b9d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }